*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  margin: 133px 30px;
}

.result {
  margin: 78px 30px 0 0;
}

.content__details {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
  min-width: 0;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
  margin-right: 140px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1.5px;
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  background: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  width: 225px;
  min-height: 27px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__checkbox-list .search-form__label {
  cursor: pointer;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.button {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
   font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  height: 34px;
  flex-shrink: 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #FFFFFF;
}

.result__video-container {
  position: relative;
}

.content__list-container {
  position: relative;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
